body {
  margin: 0;
}
button {
  border:0px;
}
#header {
  background-color: #999;
  width: 100%;
  height: 63px;
  position: relative;
  top: -5px;
  left: 0px;
  display: block;
 }
.dropbtn {
    background-color: #999;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    position: relative;
    top:10px;
    right: -10px;
    font-family: Century;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
#image {
  float: right;
  position: relative;
  top:10px;
  right: 15px;
}
#achtergrond {
    width: 100%;
    height: 900px;
    background-image:url("https://i.postimg.cc/ydJSVFgx/school.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top:11px;
}
.dropdown:hover .dropbtn {
    background-color: black;
}
footer {
  background-color: #999;
  width: 100%;
  height: 50px;
  position:relative;
  top:-9px;
  left: 0;
  bottom: 0px;;
  clear:both;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
#page {
width: 400px;
height: 665.5px;
position: relative;
top:43px;
}
#page2 {
width: 250px;
height: 944px;
position: relative;
bottom:9px;
background-color: #f1f1f1;
}
#page3 {
width: 1536px;
height: 840px;
position: relative;
bottom:-12px;
background-color: #f1f1f1;
}
#page4 {
  width: 1536px;
  height: 644px;
  position: relative;
  bottom: -2px;
}
#page5 {
  width: 1536px;
  height: 666px;
  position: relative;
  bottom: -2px;
}
#textbox1 {
    width: 110px;
    height: 130px;
    padding: 10px;
    margin: 0;
    position: relative;
    right: -5px;
    text-align: center
}
#textbox2 {
    width: 110px;
    height: 130px;
    padding: 10px;
    margin: 0;
    position: relative;
    right: -159px;
    top: -291px;
    text-align: center;
  }
  #textbox3 {
      width: 118px;
      height: 130px;
      padding: 10px;
      margin: 0;
      position: relative;
      right: -315px;
      top: -579px;
      text-align: center;
    }
    #textbox4 {
        width: 118px;
        height: 130px;
        padding: 10px;
        margin: 0;
        position: relative;
        right: -475px;
        top: -863px;
        text-align: center;
      }
      #textbox5 {
          width: 138px;
          height: 130px;
          padding: 10px;
          margin: 0;
          position: relative;
          right: -630px;
          top: -1140px;
          text-align: center;
        }
        #textbox6 {
            width: 138px;
            height: 130px;
            padding: 10px;
            margin: 0;
            position: relative;
            right: -810px;
            top: -1426px;
            text-align: center;
          }
          #textbox7 {
              width: 138px;
              height: 130px;
              padding: 10px;
              margin: 0;
              position: relative;
              right: -990px;
              top: -1710px;
              text-align: center;
            }
  #image1 {
    position: relative;
    top:-290px;
    left: 160px;
  }
  #image2 {
    position: relative;
    top:-578px;
    right: -313px;
  }
  #image3 {
    position: relative;
    top:-865px;
    right: -465px;
  }
  #image4 {
    position: relative;
    top:-1145px;
    right: -657px;
  }
  #image5 {
    position: relative;
    top:  -1430px;
    right: -820px;
  }
  #image6 {
    position: relative;
    top:  -1720px;
    right: -990px;
  }
  #vakkenfoto {
    position: relative;
    top:  -333px;
    right: -245px;
    height: 300px;
  }
@media screen and (max-width: 500px) {
  #header  {
    float: none;
    display: block;
    text-align: left;
    height: 180px;
    width: 420px;
}
@media screen and (max-width: 500px) {
  #image, #image1, #image2, #image3, #image4, #image5, #image6, #textbox1, #textbox2, #textbox3, #textbox4, #textbox5, #textbox6, #textbox7 {
    width: 400px;
    text-align: left;
    position: relative;
    right:-5px;
  }
@media screen and (max-width: 500px) {
  .dropdown, .dropdown-content, .dropbtn, #header, footer, #achtergrond, #page1, #page2, #page3, #page4, #page5, .text-block {
    width: 390px;
    float: left;
    position: relative;
    left: 0px;
    top:0px;
  }
